#inputWrapper {
  position: relative;
  border: none;
  border-radius: 44px;
  height: 44px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  font-size: 16px;
}

input {
  all: unset;
}

#voiceSearchButton {
  background: url(../../Img/googlemic_clr_24px.svg) no-repeat center;
  background-size: 21px 21px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  height: 100%;
  outline: none;
  padding: 0;
  pointer-events: auto;
  right: 16px;
  width: 26px;
}

input[type="submit"] {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: Apple SD Gothic Neo, arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
input[type="submit"]:hover {
  border: 1px solid rgb(118, 118, 118);
}
